<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Artists by Genre:</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<ol>
<% @genre.artists.each do |artist| %>
    <li><a href="/artists/<%= genre.slug %>"><%= genre.name %> </a></li>
<% end %>
</ol>


<h3>Songs by Genre: </h3>

<ol>
<% @genre.songs.each do |song| %>
    <li><a href="/songs/<%= genre.slug %>"><%= genre.name %> </a></li>
<% end %>
</ol>
