<h1>Genre: <%= @genre.name %></h1>


<h3>Artists by Genre:</h3>

<ol>
<% @genre.artists.each do |artist| %>
    <li><a href="/artists/<%= artist.slug %>"><%= artist.name %> </a></li>
<% end %>
</ol>


<h3>Songs by Genre: </h3>

<ol>
<% @genre.songs.each do |song| %>
    <li><a href="/songs/<%= song.slug %>"><%= song.name %> </a></li>
<% end %>
</ol>
