<h1>Edit song: <%= @song.name %></h1>

<form action ="/songs/<%= @song.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Update Artist Name:</label>
  <input id= "artist_name" type="text" name="artist[name]" value="<% @song.artist.name %>">

  <br></br>

  <label>Song Name:</label>
  <input type="text" name="song_name">

  <br></br>

  <label>Update Genre:</label>
  <% Genre.all.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %>
  <% end %>

  <br></br>

  <input type="submit" value="Save">
</form>
