<h1>Song: <%= @song.name %></h1>

<h3>Artist: </h3>

<% @artist.songs.each do |song| %>
    <p>By Artist: <a href="/artist/<%= song.artist.slug %>"><%= song.artist.name %> </a></li>
<% end %>



<h3>Genres: </h3>

<ol>
<% @artist.genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %> </a></li>
<% end %>
</ol>
