<h1>Song: <%= @song.name %></h1>

<h3>By Artist: </h3>
  <p><a href="/artist/<%= song.artist.slug %>"><%= song.artist.name %> </a></p>
<% end %>


<% @song.genres.each do |genre| %>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %> </a></li>
<% end %>
</ol>
